button {
  min-width: 90px;
  font-size: 10px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  color: white;
  border: 2px solid white;
  border-radius: 15px;
  margin: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #1E1E1E;
}

.boton-iniciar {
  background-color: #2E644B;
  
}

.boton-registrar {
  background-color: #C94B24;
}

.boton-unete {
  min-width: 300px;
  height: auto;
  font-size: 100px;
  background-color: #2E644B;
  font-size: 16px; 
  padding: 12px 24px;
  margin-bottom: 0;
}