* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #1e1e1e;
  font-family: 'Arial', sans-serif;
}

#root {
  width: 100%;
}

/* Contenedor principal de toda la app */
.contenedor-app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  flex: 1;
  width: 100%;
  padding-top: 90px;
}

h2 {
  color: #CA4D25;
  font-size: 90px;
}

h5 {
  color: #2E644B;
  font-size: 20px;
}

.texto-resaltado {
  color: #89211c;
  font-weight: bold;
}

/* Responsive */
@media (max-width: 768px) {
  h2 {
    font-size: 60px;
  }

  h5 {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 38px;
  }

  h5 {
    font-size: 16px;
  }
}

@media (max-width: 375px) {
  h2 {
    font-size: 28px;
  }

  h5 {
    font-size: 14px;
  }
}
