*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

#root {
  width: 100%; 
}

html, 
body {
  background-color: #1e1e1e;
  height: 100%;
  width: 100%;    
  margin: 0;
  padding: 0;
}

.contenedor-app{
  min-height: 100vh;
  padding: 0;
  display: flex;
  align-items: center;

  flex-direction: column;
}

.contenedor-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px; 
  padding: 0 20px;
  width: 100%; 
  padding: 0px 20px;
  background-color: #1e1e1e;
  margin-bottom: 0px;
}

.header-logo {
  height: 50px; 
  width: auto;  
}

.header-logo:hover {
  transform: scale(1.08);
  filter: brightness(1.1);
}

.contenedor-navbar-links{
  display: flex;
  align-items: center;
  gap: 20px;
}


.navbar-links{
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  margin: 0;
}

.navbar-links li a {
  color: #e0e0e0;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}



.contenedor-body{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;  
  width: 100%;
  height: calc(100vh - 80px);    
  padding: 0 20px;
  gap: 20px;        
  box-sizing: border-box;
}


.body-logo {
  width: 30%; 
  max-width: 300px; 
  height: auto; 
}

h2{
  color:#CA4D25;
  font-size: 90px;
}

h5{
  color: #2E644B;
  font-size: 20px;
}

.texto-resaltado{
  color: #89211c;
  font-weight: bold;
}